table {
    border: 1px solid blue;
    background-color: rgb(236, 197, 20, .7); 
  }
  
	td{ 
    padding:7px; border:#4e95f4 1px solid;
    
	}
  
  
    tr:hover {
          background-color: #ffff99;
    }


  

  body {background-color: rgb(96, 199, 233);
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
  }


  a {
    text-decoration: none; 
  }

  p {
    font-family: "Times New Roman", Times, serif;
    text-align:justify;
  }

  
  
  ul li {
    background: #eef11c;
    margin: 5px;
  }

  .topnav {
    overflow: hidden;
    background-color: rgb(241, 239, 110);
  }
  
  .topnav a {
    float: left;
    color: #9703d1;
    text-align: center;
    font-weight: bold;
    padding: 80px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(218, 34, 34);
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }