img{
    height: 200px;
    border: 3px red solid;
    opacity: 0.5;
}


 img:hover {
    opacity: 1;
    height: 180px;
 }

 .button {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  
  .button:hover {
    background-color: #4CAF50;
    color: white;
  }