

  img{
      width: 300px;
      height: 300px;
      border-radius: 15px;
  }

  
  tr:hover{
    color: rgb(218, 7, 88);
    background-color: rgb(237, 243, 149);
    opacity: 0.75;
    }

  #firstpicture,#thirdpicture{
        border-radius: 8px;
  }
